# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build
dist/
build/
.next/
out/

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Frontend specific
.DS_Store
.vscode/
.idea/
public/static/

# Test coverage
coverage/
*.lcov

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.temp

# OS-specific files
Thumbs.db
.DS_Store

# Typescript
*.tsbuildinfo

# Next.js
.next/
out/
